@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Roboto:wght@400;500&family=Rubik:wght@400;500&display=swap');

@font-face {
    font-family: 'gotham';
    src: url('../fonts/Gotham-Light.woff2') format('woff2'),
         url('../fonts/Gotham-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham';
    src: url('../fonts/Gotham-Bold.woff2') format('woff2'),
         url('../fonts/Gotham-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'gotham';
    src: url('../fonts/Gotham-Book.woff2') format('woff2'),
         url('../fonts/Gotham-Book.woff') format('woff');
    font-weight: bolder;
    font-style: normal;
}
@font-face {
    font-family: 'gothamXnarrow';
    src: url('../fonts/GothamXNarrow-Medium.woff2') format('woff2'),
         url('../fonts/GothamXNarrow-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'gotham',  sans-serif;
    max-width: 1920px;
    margin: auto;
}
a {
    text-decoration: none;
}
.button {
    display: block;
    color: #EEEFF1;
    font-weight: bolder;
    background-color: #1E74EC;
    width: 206px;
    height: 48px;
    padding: 14px 20px;
    text-align: center;
    font-size: 16px;
    line-height: 19.2px;
    box-sizing: border-box;
}
.button_transparent {
    background-color: transparent;
    border: #1E74EC 3px solid;
    color: #1E74EC;
    padding-top: 10px;
}
header {
    color: #DDDDE2;
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.logo {
    width: 386px;
    height: 80px;
    display: flex;
}
.logo__pic {
    width: 80px;
    height: 80px;
    background-image: url(../images/ust.png);
}
.logo__text {
    margin-left: 16px;
}
.logo__headline {
    font-size: 24px;
    font-family: Inter, sans-serif;
    font-weight: 600;
    line-height: 26px;
    padding-top: 14px;
}
.logo__caption {
    color: #989AA9;
    font-size: 15px;
    line-height: 18px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    padding-top: 8px;
    padding-bottom: 14px;
}
nav {
    padding-top: 16px;
    display: flex;
}
nav ul {
    margin: 0;
    padding-left: 0;
    font-size: 0;
}
nav li {
    list-style-type: none;
    display: inline-block;
    text-transform: uppercase;
}
nav li::after {
    content: "";
    display: inline-block;
    height: 15.5px;
    border-left: #989AA9 2px solid;
    vertical-align: -2px;
}
nav li:last-of-type::after {
    content: none;
}
nav a {
    color: #DDDDE2;
    display: inline-block;
    font-size: 16px;
    line-height: 19.2px;
    padding: 15.5px 15px;
}
nav li:last-of-type a {
    padding-right: 0%;
}
.current-page {
    color: #DDDDE2;
    font-weight: bold;
}
.usa-icon object {
    padding: 15px 24px;
    border-right: #989AA9 2px solid;
}
.icon-search {
    padding: 13px 2.5px 0px 25px;
}
.icon-search a {
    padding: 0;
}
.banner__content {
    margin: auto;
    width: 1440px;
}
.banner__caption {
    font-size: 26px;
    line-height: 32px;
    color: #CDCFDF;
}
.banner__title {
    font-size: 62px;
    line-height: 68px;
    font-weight: bold;
    color: #EEEFF1;
}
.banner__text {
    font-family: Rubik, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    width: 577px;
    color: #DDDDE2;
}
.bottom-banner__content {
    width: 1440px;
    margin: auto;
}
.bottom-banner__caption {
    font-size: 26px;
    line-height: 32px;
    color: #DDDDE2;
}
.bottom-banner__title {
    font-size: 62px;
    line-height: 68px;
    font-weight: bold;
    color: #EEEFF1;
}
footer {
    background-color: #03115F;
    width: 100%;
    height: 326px;
}
.footer__wrapper {
    width: 1440px;
    margin: auto;
}
.footer__container {
    width: 100%;
    padding: 64px 0 82px;
    display: flex;
    font-size: 16px;
    line-height: 22px;
    color: #EEEFF1;
}
.footer__container a {
    color: #EEEFF1;
    padding-bottom: 4px;
}
.footer__container ul {
    margin: 0;
    padding-left: 0;
}
.nav li, .social-media li {
    list-style-type: none;
    display: block;
    text-transform: uppercase;
    padding-bottom: 15px;
    color: #DDDDE2;
    line-height: 19.2px;
}
.team {
    width: 230px;
    margin-right: 140px;
}
.team__name {
    font-weight: bold;
    line-height: 24px;
    padding-bottom: 15px;
    text-transform: uppercase;
}
.nav-1 {
    margin-right: 154px;
}
.nav-2 {
    margin-right: 133px;
}
.adress {
    padding-top: 11px;
}
.social-media {
    margin-right: 105px;
}
.policy {
    width: 1050px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 22px;
}
.policy p {
    color: #EEEFF1;
    line-height: 20px;
    padding-right: 40px;
}
.policy ul {
    font-size: 0;
}
.policy li {
    display: inline-block;
    list-style-type: none;
    font-weight: bold;
}
.policy li a {
    color: #DDDDE2;
    padding: 0 15px;
    font-size: 14px;
    line-height: 16px;
}
.policy li:last-of-type::after {
    content: none;
}
.policy li:last-of-type a {
    padding-right: 0;
}
.policy li::after {
    content: "";
    display: inline-block;
    height: 14px;
    border-left: #989AA9 1px solid;
    vertical-align: -2px;
}
.links-icons {
    display: none;
    justify-content: space-between;
    width: 320px;
    margin: auto;
    padding-bottom: 40px;
}
.links-icons a {
    display: inline-block;
    flex: 0 0 32px;
    height: 32px;
    background: url(../images/social.png) 0 0 no-repeat;
}
.links-icons a:nth-child(2) {
    background-position: -72px 0;
}
.links-icons a:nth-child(3) {
    background-position: -144px 0;
}
.links-icons a:nth-child(4) {
    background-position: -216px 0;
}
.links-icons a:nth-child(5) {
    background-position: -288px 0;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
.clients {
    width: 1440px;
}
.clients .headline {
    margin-bottom: 64px;
    font-weight: bold;
    font-size: 62px;
    line-height: 68px;
    color: #03115F;
    text-align: center;
}
.label {
    width: 200px;
    height: 170px;
    background: url(../images/row1.png) 0 0 no-repeat;
    margin-right: 48px;
    float: left;
}
.label-cinzano {
    background-position: -240px 0;
}
.label-atol {
    background-position: -488px 0;
}
.label-mondoro {
    background-position: -736px 0;
}
.label-vroom {
    background-position: -984px 0;
}
.label-actual {
    background-position: -1232px 0;
}
.label:nth-child(6n+6) {
    margin-right: 0%;
}
.gradient-text {
    background: linear-gradient(130.67deg, #1E74EC 6.5%, #002984 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.link {
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    color: #A960AB;
}
.link::after {
    content: "";
    display: inline-block;
    background: url(../images/Arrow1.svg);
    width: 41px;
    height: 16px;
    margin-left: 24px;
    vertical-align: middle;
}
.section__heading {
    color: #35417F;
    font-size: 26px;
    line-height: 32px;
    padding-bottom: 24px;
}
.section__title {
    font-weight: bold;
    font-size: 62px;
    line-height: 68px;
    color: #03115F;
    padding-bottom: 24px;
}
input {
    font-family: 'gotham',  sans-serif;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 5px;
    border: none;
    height: 48px;
    padding: 14px 16px;
    box-sizing: border-box;
}
input::placeholder {
    font-size: 16px;
    line-height: 20px;
    color: #75788D;
}
textarea {
    font-family: 'gotham',  sans-serif;
    padding: 14px 16px;
    color: #75788D;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 16px;
    min-height: 96px;
    max-height: 200px;
    width: 100%;
    resize: vertical;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}
@media all and (max-width: 1536px) {
    header {
        width: 1260px;
    }
    .banner__content {
        width: 1040px;
    }
    .bottom-banner__content {
        width: 1040px;
    }
    .footer__wrapper {
        width: 1040px;
    }
    .footer__container {
        justify-content: space-between;
    }
    .team, .nav-1, .nav-2, .social-media {
        margin-right: 0;
    }
    .clients {
        width: 944px;
    }
    .label:nth-child(6n+6) {
        margin-right: 48px;
    }
    .label:nth-child(4n+4) {
        margin-right: 0;
    }
}
@media all and (max-width: 1366px) {
    header {
        width: 841px;
        flex-direction: column;
        align-items: center;
    }
    header .logo {
        order: 2;
    }
}
@media all and (max-width: 1100px) {
    header {
        flex-direction: row;
        align-items: flex-start;
        width: 90%;
    }
    nav {
        display: none;
    }
    .banner__content {
        width: 90%;
    }
    .bottom-banner__content {
        width: 90%;
    }
    .clients {
        width: 696px;
    }
    .label:nth-child(4n+4) {
        margin-right: 48px;
    }
    .label:nth-child(3n+3) {
        margin-right: 0;
    }
    footer {
        height: 430px;
    }
    .footer__wrapper {
        width: 726px;
    }
    .footer__container {
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 30px 0;
    }
    .team {
        flex: 0 0 46%;
        margin-bottom: 60px;
    }
    .team a {
        display: inline-block;
        width: 100%;
    }
    .policy {
        width: 100%;
        padding-bottom: 0;
    }
}
@media all and (max-width: 800px) {
    header {
        padding-top: 16px;
    }
    .logo {
        height: 40px;
    }
    .logo__text {
        margin-left: 11px;
    }
    .logo__pic {
        width: 40px;
        height: 40px;
        background-size: cover;
    }
    .logo__headline {
        padding-top: 3px;
        font-size: 14px;
        line-height: 17px;
    }
    .logo__caption {
        padding: 5px 0 3px;
        font-size: 10px;
        line-height: 12px;
    }
    .banner__title {
        font-size: 30px;
        line-height: 32px;
    }
    .banner__text {
        font-size: 16px;
        line-height: 20px;
    }
    .clients {
        width: 90%;
    }
    .clients .headline {
        margin-bottom: 40px;
        font-size: 30px;
        line-height: 32px;
    }
    .label:nth-child(2), .label:nth-child(3), .label:nth-child(6), .label:nth-child(7), .label:nth-child(8), .label:nth-child(10) {
        display: none;
    }
    .clients .clearfix {
        width: 343px;
        margin: auto;
    }
    .label {
        width: 165px;
        height: 110px;
        margin-right: 13px;
    }
    .label:nth-child(4n+4) {
        margin-right: 13px;
    }
    div.label.label-vroom {
        margin-right: 0;
    }
    .bottom-banner__caption {
        font-size: 20px;
        line-height: 24px;
    }
    .bottom-banner__title {
        font-size: 30px;
        line-height: 32px;
    }
    footer {
        height: 594px;
    }
    .footer__wrapper {
        width: 90%;
    }
    .footer__container {
        padding: 40px 0 0;
    }
    .social-media {
        display: none;
    }
    .nav {
        flex: 0 0 100%;
        text-align: center;
        margin-bottom: 24px;
    }
    .team {
        margin-bottom: 20px;
    }
    .policy {
        flex-direction: column;
        text-align: center;
    }
    .policy p {
        order: 2;
        padding-right: 0;
    }
    .policy ul {
        padding-bottom: 24px;
    }
    .policy ul li:nth-child(1), .policy ul li:nth-child(3) {
        display: none;
    }
    .policy ul li:nth-child(2)::after {
        content: none;
    }
    .policy ul li a {
        color: #A960AB;
        text-decoration: underline;
    }
    .links-icons {
        display: flex;
    }
}
@media all and (max-width: 533px) {
    .banner__text {
        font-size: 14px;
    }
    .banner__content .button, .bottom-banner__content .button {
        font-family: Roboto, sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 16.4px;
        width: 100%;
        border-radius: 5px;
    }
    footer {
        font-family: Roboto, sans-serif;
        font-weight: 400;
    }
    .team__name {
        font-size: 12px;
        line-height: 14px;
    }
    .team a {
        font-size: 12px;
        line-height: 16px;
    }
    .adress {
        font-size: 12px;
        line-height: 16px;
    }
    .policy {
        font-size: 11px;
        line-height: 14px;
    }
}
@media all and (max-width: 412px) {
    .links-icons {
        width: 100%;
    }
    .clients div.clearfix {
        width: 165px;
    }
    .label {
        margin: auto;
    }
}
@media all and (max-width: 360px) {
    footer {
        height: 700px;
    }
    .team {
        flex: 0 0 100%;
        text-align: center;
    }
}