.banner {
    background: url(../images/unsplash_pb_lF8VWaPU.jpg) 100% 0 no-repeat;
    max-width: 100%;
    height: 661px;
}
.banner__text {
    padding-bottom: 64px;
}
.banner__title {
    padding: 120px 0 16px;
    color: #E6E8EF;
}
.gallery {
    width: 1440px;
    margin: 179px auto 100px;
}
figure {
    float: left;
    margin: 0 40px 80px 0;
}
figcaption {
    margin-top: 16px;
}
.figcaption__text {
    color: #535670;
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 16px;
}
.figcaption__title {
    color: #35417F;
    font-weight: bolder;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 8px;
}
figure:nth-child(even) {
    margin-right: 0;
}
.img-container img {
    width: 700px;
    height: 800px;
}
.bottom-banner {
    background: url(../images/bg.jpg)  100% 0 no-repeat;
    width: 100%;
    height: 820px;
}
.bottom-banner__content {
    padding: 243px 0 244px;
}
.bottom-banner__title {
    margin: 8px 0 24px 0;
    color: #E6E8EF;
}
.bottom-banner__text {
    margin-bottom: 153px;
    font-size: 20px;
    line-height: 28px;
    width: 577px;
    color: #DDDDE2;
}
.clients {
    margin: 0 auto 110px;
}
@media all and (max-width: 1536px) {
    .gallery {
        width: 1040px;
    }
    .img-container img {
        width: 500px;
        height: 600px;
    }
}
@media all and (max-width: 1100px) {
    .gallery {
        width: 726px;
    }
    figure {
        width: 343px;
        margin: 0 40px 40px 0;
    }
    .img-container img {
        width: 343px;
        height: 420px;
    }
}
@media all and (max-width: 800px) {
    .banner__title {
        padding: 80px 0 16px;
    }
    .banner__text {
        width: 85%;
        padding-bottom: 80px;
    }
    .banner {
        height: 476px;
        background-size: cover;
        background-position: 50% 50%;
    }
    .gallery {
        width: 90%;
        text-align: center;
        margin: 80px auto 80px;
    }
    figure {
        float: none;
        margin: 0 auto 64px;
    }
    .figcaption__title {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 5px;
    }
    .figcaption__text {
        font-size: 16px;
        line-height: 16px;
        font-family: Rubik, sans-serif;
        font-weight: 400;
    }
    figure:nth-child(even) {
        margin-right: auto;
    }
    .clients {
        margin-bottom: 80px;
    }
    .bottom-banner {
        height: 371px;
        background-size: cover;
        background-position: 50% 50%;
    }
    .bottom-banner__content {
        padding: 80px 0 64px;
    }
    .bottom-banner__title {
        margin: 8px 0 16px;
    }
    .bottom-banner__text {
        font-size: 16px;
        line-height: 17px;
        width: 85%;
        margin-bottom: 40px;
    }
}
@media all and (max-width: 533px) {
    .bottom-banner__text {
        font-size: 13px;
    }
    .bottom-banner__text span {
        display: none;
    }
}
@media all and (max-width: 412px) {
    .banner {
        background: url(../images/bg2.jpg) 100% 0 no-repeat;
        background-size: cover;
    }
    .bottom-banner {
        background: url(../images/bg3.jpg) 100% 0 no-repeat;
        background-size: cover;
    }
    figure {
        width: 100%;
    }
    .img-container img {
        width: 100%;
        object-fit: cover;
    }
}
@media all and (max-width: 360px) {
    .bottom-banner__text {
        margin-bottom: 20px;
    }
}