.banner {
    background: url(../images/Rectangle556.jpg) 50% 50% no-repeat;
    max-width: 100%;
    height: 660px;
}
.main {
    width: 1440px;
    margin: 180px auto 218px;
}
.float-block {
    float: left;
    margin: 0 40px 78px 0;
}
.float-block:nth-child(3), .float-block:nth-child(7) {
    margin-right: 0;
}
.float-block:nth-child(8), .float-block:nth-child(9) {
    margin-bottom: 0;
}
.content {
    width: 696px;
    margin-right: 44px;
}
figure {
    width: 330px;
    text-align: center;
}
.content__title {
    color: #03115F;
    font-size: 54px;
    line-height: 64px;
    padding-right: 60px;
    margin: 0 0 24px 0;
    font-weight: bold;
}
.content p {
    color: #535670;
    font-size: 20px;
    line-height: 28px;
}
.figcaption__text {
    color: #535670;
    font-size: 16px;
    line-height: 22px;
}
.figcaption__title {
    color: #03115F;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 4px;
}
figcaption {
    margin-top: 16px;
}
.bottom-banner {
    background: url(../images/unsplash_g1Kr4Ozfoac.jpg) 50% 50% no-repeat;
    width: 100%;
    height: 820px;
}
.img-container {
    position: relative;
    width: 330px;
    height: 330px;
}
.linkedin-pic {
    position: absolute;
    top: 24px;
    right: 24px;
}
.bottom-banner__content {
    padding: 348px 0 252px;
}
.bottom-banner__title {
    margin: 8px 0 64px 0;
}
.banner__caption {
    padding: 120px 0 10px;
}
.banner__text {
    padding: 16px 0 156px;
}
.view-more-button {
    margin: auto;
    font-family: Roboto,sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.4px;
    border: #1E74EC 2px solid;
    width: 120px;
    height: 32px;
    display: none;
}
.view-more-button a {
    color: #1E74EC;
    display: block;
    padding: 8px 16px;
}
@media all and (max-width: 1536px) {
    .main {
        width: 1070px;
    }
    .float-block:nth-child(3), .float-block:nth-child(7) {
        margin-right: 40px;
    }
    .float-block:nth-child(2), .float-block:nth-child(5), .float-block:nth-child(8){
        margin-right: 0;
    }
}
@media all and (max-width: 1200px) {
    .float-block:nth-child(2), .float-block:nth-child(5), .float-block:nth-child(8){
        margin-right: 40px;
    }
    .main {
        width: 740px;
    }
}
@media all and (max-width: 800px) {
    .banner__caption {
        padding: 80px 0 0;
    }
    .banner__title {
        padding: 4px 0 0;
    }
    .banner__text {
        width: 90%;
        padding-bottom: 84px;
    }
    .banner {
        height: 436px;
        background-size: cover;
        background-position: 50% 50%;
    }
    .bottom-banner {
        height: 322px;
        background-size: cover;
        background-position: 50% 50%;
    }
    .bottom-banner__content {
        padding: 80px 0 64px;
    }
    .bottom-banner__title {
        margin: 4px 0 40px;
    }
    .main {
        margin: 80px auto;
        width: 90%;
    }
    .content {
        width: 100%;
    }
    .content__title {
        padding-right: 0;
    }
    .float-block {
        float: none;
        margin: 40px auto;
    }
    .float-block:nth-child(2), .float-block:nth-child(5), .float-block:nth-child(8), .float-block:nth-child(3), .float-block:nth-child(7) {
        margin-right: auto;
    }
}
@media all and (max-width: 600px) {
    .content__title {
        font-size: 30px;
        line-height: 32px;
        margin-bottom: 16px;
    }
    .content p {
        font-family: Rubik, sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
    }
}
@media all and (max-width: 400px) {
    .content p {
        font-size: 14px;
    }
    .figcaption__title {
        font-family: Rubik, sans-serif;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
    }
    .figcaption__text {
        font-family: Rubik, sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
    }
    figure {
        width: 90%;
    }
    .img-container {
        width: 100%;
    }
    .img-container img:first-child {
        width: 100%;
        object-fit: cover;
    }
    figure:nth-child(3), figure:nth-child(4), figure:nth-child(7), figure:nth-child(8) {
        display: none;
    }
    .view-more-button {
        display: block;
        margin-bottom: 80px;
    }
    .main {
        margin-bottom: 50px;
    }
}
@media all and (max-width: 375px) {
    .bottom-banner {
        background: url(../images/bg4.jpg) 50% 50% no-repeat;
        background-size: cover;
    }
    .bottom-banner__content {
        text-align: center;
    }
    .banner {
        background: url(../images/bg5.jpg) 50% 50% no-repeat;
        background-size: cover;
    }
}
@media all and (max-width: 350px) {
    .banner__text {
        display: none;
    }
    .content__title {
        font-size: 24px;
    }
}